@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}



body {
  display:flex;
  flex-direction: column;
}

/* header and footer*/
.header, .footer {
  display: flex;
}

.footer {
  background-color: rgb(222, 221, 221);

}

a {
  text-decoration: none; /*gets rid of underline*/
  color:gray; /* makes links black */
}

ul {
  list-style: none; /* makes dots go away */
  display:flex; /* makes lists inline */
}

.right-links {
  margin-left: auto;
  gap: 16px;
  padding-right: 16px;
}

.left-links {
  margin-right: auto;
  gap: 16px;
  padding-left: 16px;
}

/* content */
.content {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex:1; /* makes it so that it takes up as much possible space*/
}

.buttons {
  padding-top: 16px;
}