body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}



body {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 32px;
  font-weight: 900;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.body {
  display:flex;
  flex: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 300px;
  font-size: 24px;
}

/* get rid of underline and list dots */
a {
  text-decoration: none;
  color: white;
  padding: 16px;
}
ul {
  list-style: none;  
  padding: 0;
}

.cards {
  padding: 48px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding:24px;
  width:300px;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
